body {
  margin: auto;

  width: 65%;
}

.nav {
  width: auto;
  height: auto;
  text-align: center;
}

.menu {
  background-color: #ff4500;
  height: auto;
  width: auto;
  padding: 3px 0 ;

 

}
ul {
  display: flex;
  list-style: none;
  color: black;
  
}

a {
  color: black;
  font-size: 15px;
  text-decoration: none;
 padding: 0 3px ;
}

.cards {
  height: auto;
  width: auto;

  display: flex;
}

.card1 {
  border: solid;
  border-style: groove;
}

.card2 {
  border: solid;
  border-style: groove;
}

.card3 {
  border: solid;
  border-style: groove;
}

.btn {
  background-color: #ff4500;
  float: right;
  margin: 3px;
  border: solid;
  font-size: 15px;
}
.footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.updated {
  text-align: center;
}
